.NameEditor{
    width: 300px;
    display: block;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

/* .NameEditor__textarea:hover{
    color: aliceblue;


} */

.NameEditor__button:hover{
   background-color: blue;
   color: aliceblue;
   border-bottom: none;

}