.TodoList {
    width: 400px;

}
.TodoList__items{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 20px;
}

.TodoList__text {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
}